.video-background {
  position: relative;
  width: 100%;
  height: auto;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Slight overlay to obstruct recording */
  z-index: 1;
  pointer-events: none; /* To allow video controls */
}


/* For tablets (landscape or portrait mode) */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-background {
    height: 80vh;
  }
}

/* For mobile devices (portrait mode) */
@media (max-width: 767px) {
  .video-background {
    height: 60vh;
  }
}

/* For small mobile devices (e.g., iPhone SE) */
@media (max-width: 480px) {
  .video-background {
    height: 50vh;
  }
}

/* For larger screens (desktops) */
@media (min-width: 1025px) {
  .video-background {
    height: 80vh;
  }
}
